<!DOCTYPE html>
<html>
<head>
	<title>blog</title>
</head>
<body>
	<form method="post" action="" style="text-align: center">
		{% csrf_token %}
		<label for="name">username
		</label>
		<input type="text" name="username" id="name" required="true"><br>
		<label for="name">email
		</label>
		<input type="email" name="email" id="email" required="true"><br>
		<label for="name">Password
		</label>
		<input type="password" name="password" id="password" required="true"><br>
		<input type="submit" value="submit">
	</form>
	<!-- SAF_CONSUMER_KEY = 	OxvaJDBrH1iNuopVr5xMIAvOqMtMnU6J-->
	<!-- SAF_CONSUMER_SECRET = dPrdZ1RHYBFpx6Ib-->
	<!-- SAF_KEY_ISSUED_DATE = Sat, 07/28/2018 - 14:01-->
</body>
</html>